<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="./common/head.html"></th:block>

<!-- <body class="col-xs-8 col-sm-6 col-md-4 col-lg-3" style="text-align: center; background-color: #1E0010;"> -->
<body class="container" style="text-align: center; background-color: #1E0010;">
	
	<div class="row" style="vertical-align: center;">
	
		<h2>마법의 소라 고동에게</h2>
		<h2>질문하고 해답을 얻으세요!</h2>
		
		<blockquote style="color:#cbb74d; font-weight: bold;">
			<div>
				마찰 없이 보석을 광나게 할 수 없듯 시련 없이 사람을 완전하게 할수 없다.
			</div>
		</blockquote>
	
	</div>
	
</body>
</html>