<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="./common/head.html"></th:block>

<script>

	// 카테고리 조회
	
	// 

	function test() {
		alert('test');
	}
</script>

<!-- <body class="col-xs-8 col-sm-6 col-md-4 col-lg-3" style="text-align: center; background-color: #1E0010;"> -->
<body class="container-fluid shell-body" style="text-align: center;">
	
	<div class="row" style="vertical-align: center;">
	
		<div class="col-xs-12 col-sm-12 col-md-12" style="padding: 5rem;">
			<span style="font-size: 3.5rem; color: #DFBE6A">고민의 종류를 선택하세요.</span>
			<br>
						
			<blockquote style="color:#cbb74d; font-weight: bold;">
				<div>
					마찰 없이 보석을 광나게 할 수 없듯 시련 없이 사람을 완전하게 할수 없다.
				</div>
			</blockquote>	
		</div>
		
	</div>
	
	<div class="row" style="vertical-align: center;">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<a class="shell-btn" href="javascript:test();">연애</a></br>
			<a class="shell-btn" href="#">학업</a></br>
			<a class="shell-btn" href="#">공통</a></br>
		</div>
		
	</div>
	
	
</body>
</html>