<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="./svc/common/head.html"></th:block>

<script>

</script>

<!-- <body class="col-xs-8 col-sm-6 col-md-4 col-lg-3" style="text-align: center; background-color: #1E0010;"> -->
<body class="container-fluid shell-body" style="text-align: center;">
	
	<div class="row" style="vertical-align: center;">
	
		<div class="col-xs-12 col-sm-12 col-md-12" style="padding: 5rem;">
			<!-- 
			<span style="font-size: 2.5rem; color: #EFEFE4" th:text="|고민을 아래의 입력란에 입력하거나 생각하시고|"></span><br>
			<span style="font-size: 2.5rem; color: #EFEFE4">고민 해결 상자를 두드려 주세요.</span>
			 -->
			<br>
				
			<!-- DFBE6A cbb74d -->		
			<blockquote style="font-size: 2.5rem; color:#DFBE6A; font-weight: bold;">
				<br><br>
				<div>
					마찰 없이 보석을 광나게 할 수 없듯 시련 없이 사람을 완전하게 할수 없다.
				</div>
			</blockquote>	
		</div>
		
	</div>
	
	<div class="row" style="vertical-align: center;">
		<div class="col-xs-12 col-sm-12 col-md-12">
			
		</div>
		
	</div>
	
	
</body>
</html>