<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="./common/head.html"></th:block>
<script>

	$(document).ready(function() {
	
		console.log("[Answer List Page]");
	
	});
	

</script>
<body style="text-align: center;">

	<div>
		<div style="text-align: right;">
			<button type="button" onclick="moveToInputAnswer()" class="btn btn-outline-success">새로운 답변 등록하기</button>
		</div>		
		<br>
		<table class="table" style="margin: auto;">
		    <thead class="thead-dark">
		        <tr>
		        	<th colspan="1">ID</th>
		            <th colspan="2">답변</th>
		            <th colspan="1"></th>
		        </tr>
		    </thead>
		    <tbody th:if="${answers} != null">
		        <tr th:each="item : ${answers}" class="tr">
		        	<td th:text="${item.id}" class="td"></td>
		        	<td th:text="${item.answer}" class="td"></td>
		        	<td>
		        		<input type="button" value="수정" th:onclick="|moveToModify(${item.id})|"/>
		        	</td>
		        </tr>
		    </tbody>
		    <tbody th:if="${answers} == null">		       
		        <tr>
		        	<td colspan="5">
		        		등록된 답변이 없습니다.
		        	</td>		        	
		        </tr>
		    </tbody>
		    
		</table>
	</div>
	
	<nav style="text-align: center;">
		<!-- <span th:text="${T(java.lang.Math).floor(answers.getContent().number/10)*10 + 1}"></span> -->
		<!-- <ul class="pagination" th:with="start=${T(Math).floor(answers.getContent().number/10)*10 + 1},
                    					last=(${start + 9 < answers.totalPages ? start + 9 : answers.totalPages})">
 			<th:block th:with="firstUrl=@{/answerList(page=1)},
 							prevUrl=@{/answerList(page=${answers.number})},
 							nextUrl=@{/answerList(page=${answers.number + 2})},
 							lastUrl=@{/answerList(page=${answers.totalPages})}">
 				<li>
 					<a th:href="${firstUrl}" aria-label="First">
 						<span aria-hidden="true">First</span>
 					</a>
 				</li>
 				<li th:class="${answers.first} ? 'disables'">
 					<a th:href="${answers.first} ? '#' : #{prevUrl}" aria-label="Previous">
 						<span aria-hidden="true">&lt;</span>
 					</a>
 				</li>
 				<li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == answers.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{/answerList(page=${page})}"></a>
                    </li>
                    다음 페이지로 
                    <li th:class="${answers.last} ? 'disabled'">
                        <a th:href="${answers.last} ? '#' : ${nextAddr}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    맨 마지막 페이지로 이동 
                    <li>
                        <a th:href="${lastAddr}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
			</th:block>
		</ul> -->
	</nav>
</body>
</html>