@charset "EUC-KR";


blockquote:before {
  content: "\201C";
  font-size: 3em;
  font-family: Georgia;
  color: #bcbcbc;
  float: left;
  margin: -5px 10px 0px -10px;
}

blockquote:after {
  content: "\201D";
  font-size: 3em;
  font-family: Georgia;
  color: #bcbcbc;
  float: right;
  margin: -5px 10px 0px -10px;
}


quote-container:before {
	content: "\201C";
  	font-size: 3em;
  	font-family: Georgia;
  	color: #bcbcbc;
  	float: left;
  	margin: -5px 10px 0px -10px;
}

quote-container:after {
	content: "\201C";
  	font-size: 3em;
  	font-family: Georgia;
  	color: #bcbcbc;
  	float: left;
  	margin: -5px 10px 0px -10px;
}

.shell-btn {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 2.7rem;
  letter-spacing: 0.3em;
  /*color: rgba(223,190,106,0.7);*/
  color: #DFBE6A;
  border-radius: 0;
  padding: 18px 80px 20px;
  transition: all 0.7s ease-out;
  background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 1px solid rgba(223,190,106,0.3);
}

.shell-btn:hover {
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: $white;
  background-position: 99% 50%;
  text-decoration: none;
}

article {
  height: 100vh;
}

.shell-body {
  background: #231f20;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arials, sans;
}

.shell-body {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 90vh;
}