<head>
	<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
	<title>마법의 고민 해결 구슬</title>
	<meta name="description" content="다양한 고민들을 해결해보세요! 마법의 구슬은 결정하지 못하는 것들을 다 해결해준답니다."/>
	<meta name="keywords" content="고민해결, 고민 해결책, 고민, 해결, 연애, 학업, 취업, 다이어트, 구슬, 랜덤"/>
		
	<meta property="og:title" content="마법의 고민 해결 구슬"/>
	<meta property="og:description" content="다양한 고민들을 해결해보세요! 마법의 구슬은 결정하지 못하는 것들을 다 해결해준답니다."/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://shellofmagic.com/img/magicball.png"/>
	<meta property="og:url" content="http://shellofmagic.com"/>
	<meta property="twitter:card" content="summary"/>
	<meta property="twitter:title" content="마법의 고민 해결 구슬"/>
	<meta property="twitter:description" content="다양한 고민들을 해결해보세요! 마법의 구슬은 결정하지 못하는 것들을 다 해결해준답니다."/>
	<meta property="twitter:image" content="http://shellofmagic.com/img/magicball.png"/>

	
	<link rel="favicon" href="/favicon.ico"/>
	
	
	<!-- Google tag (gtag.js) 
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-VQNEHBYFLR"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-VQNEHBYFLR');
	</script>
	-->
	
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K7M87XF');</script>
	<!-- End Google Tag Manager -->
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K7M87XF"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4729728696198535"
     crossorigin="anonymous"></script>
	
	<!-- js -->
	<script type="text/javascript" src="/js/common_lib.js"></script>
	<script type="text/javascript" src="/js/svc_ui_lib.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    
    <!-- css -->    
    <link rel="stylesheet" type="text/css" href="/css/shell-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    
</head>

<br>
