<head>
	<meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
	<title>마법의 고민 해결 박스</title>
	
	<link rel="favicon" href="/favicon.ico">
	
	<!-- js -->
	<script type="text/javascript" src="/js/common_ui_lib.js"></script>
	<script type="text/javascript" src="/js/svc_ui_lib.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/moment-timezone-with-data.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/shell-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    
</head>

<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">		
  	<a class="navbar-brand" href="/page/home">Shell Of Magic</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">		      
	      <li class="nav-item" onclick="moveToHome()">
	        <a class="nav-link" href="#">홈으로</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="javascript:history.back();">뒤로가기</a>
	      </li>
	    </ul>
	</div>
</nav>
 -->
<br>
